In [1]:
x = (12,45,65) # tuple creation
print(x)
print(type(x))

(12, 45, 65)
<class 'tuple'>

In [2]:
a = 1, 2, 3, 4 # tuple packing
print(a)

(1, 2, 3, 4)

In [5]:
w, x, y, z = a 
print(w, x, y, z)
first, *rest = a # first value will be store in first variable
# rest will be stored in rest variable as a list
print(first, rest)

1 2 3 4
1 [2, 3, 4]

In [11]:
fname, *lname = "Akash deep srivastava".split()
print(fname, lname, sep="\n")

Akash
['deep', 'srivastava']

In [12]:
x = ('apple','banana','cherry','banana','cherry')
print(x.count('banana'))
print(x.count('avocado'))

2
0

In [13]:
print(x.index('cherry'))

2

In [15]:
x = [1,2,3,4]
xt = tuple(x)
print(x, xt)
xl = list(xt)
xs = set(x)
xts = set(xt)
print(xl, xs, xts)

[1, 2, 3, 4] (1, 2, 3, 4)
[1, 2, 3, 4] {1, 2, 3, 4} {1, 2, 3, 4}

In [18]:
print(xt[-1])
print(xt[0])

4
1

Set

In [19]:
a = {3,4,4,1,2,2,5,6,6,2,}
print(a)

{1, 2, 3, 4, 5, 6}

In [22]:
b = set() # empty set
b.add('hello')
b.add('fellow')
b.add('Jello')
b.add('mellow')
b.update({'yellow', 'cello'}) # add a iterable to a set
print(b)

{'mellow', 'hello', 'cello', 'yellow', 'fellow', 'Jello'}

In [23]:
b.discard('Jello')
b.discard('hello')
print(b)

{'mellow', 'cello', 'yellow', 'fellow'}

set operations

In [24]:
a = {1,2,3,4}
b = {3,4,5,6}
c = {1,2,3,4,5,6,7,8,9,10}
d = {6,7,8,9,10}

In [25]:
a.union(b) # or a | b

{1, 2, 3, 4, 5, 6}

In [29]:
a.intersection(b) # a & b

{3, 4}

In [30]:
print(a.difference(b) )# a - b
print(b.difference(a) )# b - a

{1, 2}
{5, 6}

In [31]:
a.symmetric_difference(b) # a ^ b

{1, 2, 5, 6}

In [34]:
c.issuperset(a)

False

In [38]:
a.issubset(d)

False

In [41]:
b.isdisjoint(a)

False