In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# testing the water
pd.read_excel('Canada.xlsx', sheet_name=1, skiprows=20, skipfooter=2)

In [ ]:
df = pd.read_excel('Canada.xlsx', sheet_name=1, skiprows=20, skipfooter=2)

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)

In [ ]:
df

what to learn
- selection of data
    - row selection
        - head
        - tail
        - slicing
        - iloc
        - loc
    - column selection
        - object style
        - dictionary style

In [ ]:
df.head() # top 5 rows

In [ ]:
df.head(10) # top 10 rows

In [ ]:
df.tail() # bottom 5 rows

In [ ]:
df.tail(3) # bottom 3 rows

In [ ]:
df[:10] # same as head(10)

In [ ]:
df[50:100] # rows 50 to 100

In [ ]:
df.iloc[0] # first row

In [ ]:
df.iloc[-1] # last row

In [ ]:
df.iloc[[0,5,10,15]]

In [ ]:
df.iloc[30, :5]

In [ ]:
df.iloc[:, :5] # first 5 columns

In [ ]:
df.iloc[:, [0,2,5,7,10]] # all rows, columns 0,2,5,7,10

In [ ]:
# list all column names
print(df.columns.tolist())

In [ ]:
df['OdName'] # column as a series

In [ ]:
df[1980]

In [ ]:
# multiple columns
col_list = ['OdName', 1980, 1981, 1982, 1983, 1984, 1985]
df[col_list]

In [ ]:
df[['OdName','AreaName',1980,1990,2000,2010]]

In [ ]:
df[['OdName','AreaName',1980,1990,2000,2010]][5:50] # selected cols and selected rows

In [ ]:
df.head()

In [ ]:
df.info()

maths and stats

In [ ]:
df.describe() # numerical columns summary

In [ ]:
df.describe(exclude=np.number) # non-numerical columns summary

In [ ]:
df[2010].sum()

In [ ]:
df[[1980,1981,1982,1983,1984,1985]].sum()

In [ ]:
df[[1980,1981,1982,1983,1984,1985]].sum(axis=1)

In [ ]:
years = list(range(1980,2014))
print(years)

In [ ]:
df[years].sum(axis=1)

add columns

In [ ]:
df['Total'] = df[years].sum(axis=1)
df.head(5)

In [ ]:
plt.figure(figsize=(30,3), dpi=300)
plt.bar('OdName', 'Total', data=df)
plt.xticks(rotation=90)
plt.show()

In [ ]:
df

In [ ]:
df['Faltu'] = 10 # add a new column with a constant value

In [ ]:
len([1,2,3,4,5]*39)

In [ ]:
df['kuch bhi'] = [1,2,3,4,5]*39 # this is just an exmaple, don't do this
df

In [ ]:
df[2013] - df[1980]

In [ ]:
df['another column'] =  df[2013] - df[1980] # expression on columns

- add to pandas dataframe row wise

In [ ]:
small_df1 = df[:10]
small_df2 = df[185:]

In [ ]:
pd.concat([small_df1, small_df2])

remove columns

In [ ]:
df

- to drop columns
    - df.drop() -> removes columns
- to drop rows
    - df.drop() -> removes rows
    - df.dropna() -> removes rows with NaN
    - df.drop_duplicates() -> removes rows with duplicate values

In [ ]:
cols_to_drop = [
    'AREA', 'REG', 'DEV', 'Type', 'Coverage',
    'Faltu', 'kuch bhi', 'another column'
]
df.drop(columns=cols_to_drop, inplace=True) # apply

In [ ]:
df.drop_duplicates(subset=['AreaName']) # just an example

ordering columns

In [ ]:
df.columns

In [ ]:
# arrange columns in a list in the order you want
reordered_cols = [
    'AreaName', 'OdName', 'RegName',  'DevName',   'Total',      1980,       1981,
    1982,       1983,       1984,       1985,       1986,       1987,
    1988,       1989,       1990,       1991,       1992,       1993,
    1994,       1995,       1996,       1997,       1998,       1999,
    2000,       2001,       2002,       2003,       2004,       2005,
    2006,       2007,       2008,       2009,       2010,       2011,
    2012,       2013
]
print(reordered_cols)

In [ ]:
df = df[reordered_cols] # columns in the order you want
df.head()

rename

In [ ]:
df.rename?

In [ ]:
df.rename(columns={
    'OdName': 'Country',
    'AreaName': 'Continent',
    'RegName': 'Region',
    'DevName':'Status',
}, inplace=True)

In [ ]:
df.head()

- sorting

In [ ]:
df.sort_values(by='Continent', inplace=True)
df.head(10)

In [ ]:
df.sort_values(by='Total', inplace=True)
df

In [ ]:
df.sort_values(by='Total', inplace=True,
    ascending=False) # descending order
df

visualize

In [ ]:
plt.bar('Country', 'Total' ,data=df.head(10))
plt.xticks(rotation=90)
plt.show()

In [ ]:
import seaborn as sns

In [ ]:
sns.barplot(x='Country', y='Total', hue='Status', data=df.head(10))
plt.xticks(rotation=90)
plt.show()

In [171]:
df.head()

,Continent,Country,Region,Status,Total,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
79,Asia,India,Southern Asia,Developing regions,691904,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,12041,13734,13673,21496,18620,18489,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
36,Asia,China,Eastern Asia,Developing regions,659962,5123,6682,3308,1863,1527,1816,1960,2643,2758,4323,8076,14255,10846,9817,13128,14398,19415,20475,21049,30069,35529,36434,31961,36439,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129
183,Europe,United Kingdom of Great Britain and Northern I...,Northern Europe,Developed regions,551500,22045,24796,20620,10015,10170,9564,9470,21337,27359,23795,31668,23380,34123,33720,39231,30145,29322,22965,10367,7045,8840,11728,8046,6797,7533,7258,7140,8216,8979,8876,8724,6204,6195,5827
136,Asia,Philippines,South-Eastern Asia,Developing regions,511391,6051,5921,5249,4562,3801,3150,4166,7360,8639,11865,12509,12718,13670,20479,19532,15864,13692,11549,8735,9734,10763,13836,11707,12758,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544
130,Asia,Pakistan,Southern Asia,Developing regions,241600,978,972,1201,900,668,514,691,1072,1334,2261,2470,3079,4071,4777,4666,4994,9125,13073,9068,9979,15400,16708,15110,13205,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603

In [ ]:
df.loc[79, years].plot(kind='area',figsize=(20,4))

In [ ]:
df.loc[[79,36], years].T.plot(kind='area',figsize=(20,4), stacked=False, alpha=0.5)