In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# testing the water
pd.read_excel('Canada.xlsx', sheet_name=1, skiprows=20, skipfooter=2)

In [ ]:
df = pd.read_excel('Canada.xlsx', sheet_name=1, skiprows=20, skipfooter=2)

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)

In [ ]:
df

what to learn
- selection of data
    - row selection
        - head
        - tail
        - slicing
        - iloc
        - loc
    - column selection
        - object style
        - dictionary style

In [ ]:
df.head() # top 5 rows

In [ ]:
df.head(10) # top 10 rows

In [ ]:
df.tail() # bottom 5 rows

In [ ]:
df.tail(3) # bottom 3 rows

In [ ]:
df[:10] # same as head(10)

In [ ]:
df[50:100] # rows 50 to 100

In [ ]:
df.iloc[0] # first row

In [ ]:
df.iloc[-1] # last row

In [ ]:
df.iloc[[0,5,10,15]]

In [ ]:
df.iloc[30, :5]

In [ ]:
df.iloc[:, :5] # first 5 columns

In [ ]:
df.iloc[:, [0,2,5,7,10]] # all rows, columns 0,2,5,7,10

In [ ]:
# list all column names
print(df.columns.tolist())

In [ ]:
df['OdName'] # column as a series

In [ ]:
df[1980]

In [ ]:
# multiple columns
col_list = ['OdName', 1980, 1981, 1982, 1983, 1984, 1985]
df[col_list]

In [ ]:
df[['OdName','AreaName',1980,1990,2000,2010]]

In [ ]:
df[['OdName','AreaName',1980,1990,2000,2010]][5:50] # selected cols and selected rows

maths and stats

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe() # numerical columns summary

In [ ]:
df.describe(exclude=np.number) # non-numerical columns summary

In [ ]:
df[2010].sum()

In [ ]:
df[[1980,1981,1982,1983,1984,1985]].sum()

In [ ]:
df[[1980,1981,1982,1983,1984,1985]].sum(axis=1)

In [ ]:
years = list(range(1980,2014))
print(years)

In [ ]:
df[years].sum(axis=1)

In [ ]:
df['Total'] = df[years].sum(axis=1)
df.head(5)

In [ ]:
plt.figure(figsize=(30,3), dpi=300)
plt.bar('OdName', 'Total', data=df)
plt.xticks(rotation=90)
plt.show()